.button-solid {
    background-color: $color-3;
    border-radius: 4px;
    color: white;
    display: block;
    @include font-2-black();
    @include font-size(15);
    height: 50px;
    @include line-height(50);
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.button-solid:hover {
    color: white;
}

.button-underline {
    background: transparent;
    border: 1px solid $color-4;
    border-radius: 4px;
    color: $color-4;
    display: inline-block;
    @include font-2-black();
    @include font-size(10);
    height: 32px;
    @include line-height(32);
    padding: 0 15px;
    text-transform: uppercase;
}

.button-underline:hover {
    background-color: $color-2;
    border-color: $color-2;
    color: white;
}

.button-nav-menu {
    display: inline-block;

    .menu-line {
        stroke: $color-4;
        stroke-width: 2;
        stroke-linecap: round;
    }
}

.button-invite {
    border-radius: 3px;
    color: white;
    display: block;
    @include font-2-black();
    @include font-size(16);
    max-width: 264px;
    padding: 14px 20px;
    text-transform: uppercase;
    width: 100%;

    .icon svg {
        fill: white;
    }
}

.button-invite:hover {
    color: white;
}

.button-invite.facebook {
    background-color: $facebook-color;

    .icon svg {
        width: 10px;
        height: 21px;
    }
}

.button-invite.twitter {
    background-color: $twitter-color;

    .icon svg {
        width: 21px;
        height: 17px;
    }
}

.button-invite.email {
    background-color: $email-color;
    
    .icon svg {
        width: 21px;
        height: 22px;
    }
}