.input-field {
    border: 1px solid $color-5;
    border-radius: 4px;
    @include font-2-regular(); 
    @include font-size (14);
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    width: 100%;
}