.logo-horizontal {
    max-width: 148px;
    width: 100%;

    svg {
        fill: $color-4;
    }
}

.logo-vertical {
    max-width: 124px;
    width: 100%;

    svg {
        fill: $color-4;
    }
}