/* HELPERS */

@mixin opacity ($op) {
	$opPercent: $op * 100;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=${opPercent})";
	filter: alpha(opacity=$opPercent);
	-moz-opacity: $op;
	-khtml-opacity: $op;
    opacity: $op;
}

@mixin transition ($property: all, $time: 0.3s, $ease: ease-in-out) {
	-webkit-transition: $property $time $ease;
	-moz-transition: $property $time $ease;
	-o-transition: $property $time $ease;
	transition: $property $time $ease;
}

@mixin transform ($func) {
	-webkit-transform: $func;
	-moz-transform: $func;
	-o-transform: $func;
	transform: $func;
}

@mixin box-shadow {
	-webkit-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.11);
	-moz-box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.11);
	box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.11);
}

/* FONTS */
@mixin font-1-regular {
	font-family: $font-1;
	font-weight: 400;
}

@mixin font-1-italic {
	font-family: $font-1;
	font-style: italic;
	font-weight: 400;
} 

@mixin font-1-light {
	font-family: $font-1;
	font-weight: 300;
}

@mixin font-1-bold {
	font-family: $font-1;
	font-weight: 700;
}

@mixin font-2-regular {
	font-family: $font-2;
	font-weight: 400;
}

@mixin font-2-bold {
	font-family: $font-2;
	font-weight: 700;
}

@mixin font-2-black {
	font-family: $font-2;
	font-weight: 900;
}

@mixin font-size ($size) {
	$base: 16;
	font-size: $size  + 0px;
	font-size: ($size / $base) + 0rem;
}

@mixin line-height ($size) {
	$base: 16;
	line-height: ($size) + 0px;
	line-height: ($size / $base) + 0rem;
}

@mixin letter-spacing ($size) {
	$base: 16;
	letter-spacing: ($size) + 0px;
	letter-spacing: ($size / $base) + 0rem;
}

/* ALIGN */

@mixin flex ($align, $justify) {
	align-items: $align;
	display: flex;
	justify-content: $justify;
}