.title {
    @include font-1-light();
    @include font-size(36);
    @include line-height(36);
    @include letter-spacing(-2);
}

.section-title {
    @include font-1-regular();
    @include font-size(26);
    @include line-height(26);
}

.subtitle {
    @include font-1-regular();
    @include font-size(26);
    @include line-height(26);
}

.text-paragraph {
    @include font-2-regular();
    @include font-size(15);
}

.help-text {
    @include font-2-black();
    @include font-size(14);
}

.text-uppercase {
    text-transform: uppercase;
}

.text-font-bold {
    @include font-1-bold();
}

.text-font-black {
    @include font-2-black();
}

.text-color-white {
    color: white;
}

.text-color-yellow {
    color: $color-1;
}

.text-color-blue {
    color: $color-2;
}

.text-color-pink {
    color: $color-3;
}

/**
 * Medium
 */

@media screen and (min-width: 40em) {

    .title {
        @include font-size(60);
        @include line-height(60);
    }

    .section-title {
        @include font-size(38);
        @include line-height(38);
    }

    .subtitle {
        @include font-size(30);
        @include line-height(30);
    }

    .text-paragraph {
        @include font-size(18);
    }

    .help-text {
        @include font-size(16);
    }
}

/**
 * Large
 */
 
@media screen and (min-width: 64em) {
    
}