/* COLORS */
$color-1: #ffe938;
$color-2: #10b4ff;
$color-3: #ff5b5b;
$color-4: #56605c;
$color-5: #c8c8c8;
$text-color: $color-4;

$facebook-color: #3b5998;
$twitter-color: #00afec;
$email-color: #56605c;

/* FONTS */
$font-1: 'Alegreya Sans', sans-serif;
$font-2: 'Source Sans Pro', sans-serif;

/* SPACES */
$space-smaller: 10px;
$space-small: 20px;
$space-default: 30px;
$space-big: 40px;
$space-bigger: 60px;

/* BREAKPOINTS */
$xs: 320;
$sm: 768;
$md: 992;
$lg: 1200;

/* DIAGONAL STRIPES */
$angle: 5deg;

/* ANIMATION */
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);