* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
	margin-bottom: 0; 
}

body {
	color: $color-4;
	@include font-2-regular();
	overflow-x: hidden;
	overflow-y: scroll;

    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

section {
	display: block;
	position: relative;
}

.visibility-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    top: -1000em;
    overflow: hidden;
}

/* LAYOUT SPACES */ 

.space-out-small {
	margin: $space-small 0;
}

.space-out-default {
	margin: $space-default 0;
}

.space-out-big {
	margin: $space-big 0;
}

.space-out-bigger {
	margin: $space-bigger 0;
}

.space-out-bottom-small {
	margin-bottom: $space-small;
}

.space-out-bottom-default {
	margin-bottom: $space-default;
}

.space-out-bottom-big {
	margin-bottom: $space-big;
}

.space-out-bottom-bigger {
	margin-bottom: $space-bigger;
}

.space-out-top-small {
	margin-top: $space-small;
}

.space-out-top-default {
	margin-top: $space-default;
}

.space-out-top-big {
	margin-top: $space-big;
}

.space-out-top-bigger {
	margin-top: $space-bigger;
}

.space-in-small {
	padding: $space-small 0;
}

.space-in-default {
	padding: $space-default 0;
}

.space-in-big {
	padding: $space-big 0;
}

.space-in-bigger {
	padding: $space-bigger 0;
}

.space-in-bottom-small {
	padding-bottom: $space-small;
}

.space-in-bottom-default {
	padding-bottom: $space-default;
}

.space-in-bottom-big {
	padding-bottom: $space-big;
}

.space-in-bottom-bigger {
	padding-bottom: $space-bigger;
}

.space-in-top-small {
	padding-top: $space-small;
}

.space-in-top-default {
	padding-top: $space-default;
}

.space-in-top-big {
	padding-top: $space-big;
}

.space-in-top-bigger {
	padding-top: $space-bigger;
}

.list {
	margin: 0;

	li {
		list-style: none;
	}
}

.container-app {
	left: 0;
	position: absolute;
	@include transition(all, 0.6s, $easeInOutExpo);
	width: 100%;
}

.menu-mobile-in {
	.container-app {
		left: -265px;
	}

	.menu-mobile {
		right: 0;
	}
}

.diagonal-top {
	&:before {
        background: rgba($color: white, $alpha: 1);
        top: 0;
		content: '';
		display: block;
		height: 100%;
		position: absolute;
		transform: skewY(6deg) translateX(0%);
		transform-origin: right;
		width: 100%;
		z-index: -1;
    }
}

.diagonal-bottom {
	&:after {
        background: rgba($color: white, $alpha: 1);
        content: '';
		display: block;
		height: 100%;
		position: absolute;
		transform: skewY(5deg) translateX(0%);
		transform-origin: left;
		width: 100%;
		z-index: -1;
		bottom: 0;
    }
}