/**
 * Small
 */

.highlight {
    background: transparent url('../images/background-kid@1x.jpg') no-repeat top center;
    background-size: cover;
    background-position: center;
    min-height: 615px;
    z-index: -10;

    .highlight-infos {
        padding-top: 110px;
    }

    .text-paragraph {
        @include font-size(20);
        @include line-height(30);
    }
}

.community {
    z-index: 10;

    > div {
        z-index: 10;
        position: relative;
    }

    .form-community {
        display: table;
        margin-top: 20px;
        width: 100%;
    }
}

.mamamentors {
    background-color: $color-2;
    position: relative;
    z-index: 5;
    padding-top: 60px;

    &:after {
        background-color: $color-2;
    }

    .mamamentors-infos-container {
        position: relative;
    }

    .mamamentors-infos {
        padding-left: 0.9375rem * 2;
        padding-right: 0.9375rem * 2;
        padding-bottom: 20px;
        position: relative;
        z-index: 20;
    }

    .diagonal-bottom {
        &:after {
            background-color: $color-2;
            z-index: 10;
        }
    }

    .video-mamamentors {
        background: transparent url('../images/pam-cover@1x.jpg') no-repeat center;
        background-size: cover;
        display: block;
        height: 303px;
        width: 100%;
    }
}

.real-sharing {
    background: transparent url('../images/pregnant-mom-using-mama-mentors-app-m@1x.jpg') no-repeat bottom center;
    background-size: contain;
    background-position: center bottom;
    padding-bottom: 240px;
    z-index: 6;

    &:before {
        height: 45%;
    }

    > div {
        z-index: 10;
        position: relative;
    }

    .subtitle {
        @include font-size(14);
        @include line-height(14);
    }
}

.how-it-works {
    z-index: 20;

    .subtitle {
        @include font-size(14);
    }

    .tutorial-item {
        position: relative; 

        &:before {
            background-image: url('../images/icon-private-message.png');
            background-size: 100% 100%;
            content: '';
            display: inline-block;
            height: 32px;
            left: 50%;
            position: relative;
            @include transform(translateX(-50%));
            width: 42px;
        }
    }
}

.support {
    background-color: $color-2;
    overflow: hidden;

    .list-testmonial {
        margin: 0 auto;
        left: 50%;
        min-height: 350px;
        position: relative;
        width: 100%;
    }

    .testmonial-item {
        display: inline-block;
        left: 50%;
        min-width: 303px;
        position: absolute;
        @include transform(translateX(-50%));
        @include transition (all, 0.6s, ease-in-out);
    }

    .list-testmonial-item {
        background-color: white;
        border-radius: 3px;
        color: $color-4;
        display: inline-block;
        max-width: 303px;
        overflow: hidden;
        width: 100%;
    }

    .testmonial-image {
        width: 100%;
        height: auto;
    }

    .testmonial-information {
        padding: 15px 30px;

        .text-paragraph {
            @include font-size(14);
            @include line-height(16);
        }

        .author {
            display: block;
            @include font-1-italic();
            @include font-size(16);
            margin-top: 15px;
            margin-bottom: 15px;
        }

        &:after {
            background-color: $color-3;
            content: "";
            display: block;
            height: 1px;
            margin: 0 auto;
            width: 30px;
        }
    }

    .testmonials-pagination {
        display: inline-block;
        margin-top: $space-small;
        left: 50%;
        position: relative;
        @include transform(translateX(-50%));
    }

    .page-item {
        display: inline-block;
        list-style: none;
        margin-right: 4px;

        &:last-child {
            margin-right: 0;
        }
    }

    .page-link {
        background-color: transparent;
        border: 1px solid white;
        border-radius: 10px;
        display: block;
        height: 10px;
        text-indent: -9999px;
        width: 10px;
    }
    
    .page-link.active, .page-link:hover {
        background-color: white;
    }
}

.why-join {
    z-index: 10;

    .section-title {
        @include font-size(36);
        @include line-height(36);
    }

    .list-reasons {
        padding: 0;
    }

    .list-reason-item {
        list-style: none;
        margin-bottom: $space-default;
        position: relative;
    }
}

.quote {
    background-color: $color-1;
    padding: 100px 0;

    .brand {
        display: block;
    }
}

.subscribe {
    z-index: 10;

    .subtitle {
        @include font-size(14);
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    .highlight {
        background-image: url('../images/background-kid@2x.jpg');
    }

    .real-sharing {
        background-image: url('../images/pregnant-mom-using-mama-mentors-app-m@2x.jpg');
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (   min--moz-device-pixel-ratio: 3),
only screen and (     -o-min-device-pixel-ratio: 3/1),
only screen and (        min-device-pixel-ratio: 3),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 3dppx) {

    .highlight {
        background-image: url('../images/background-kid@3x.jpg');
    }

    .real-sharing {
        background-image: url('../images/pregnant-mom-using-mama-mentors-app-m@3x.jpg');
    }
}

/**
 * Medium
 */

@media screen and (min-width: 40em) {

    .highlight {
        background: transparent url('../images/background-kid-desktop@1x.jpg') no-repeat;
        background-size: cover;
        background-position: center;

        .highlight-infos {
            padding-top: 0;
            position: absolute;
            top: 45%;
            width: inherit;
            @include transform(translateY(-50%));
        }
    }

    .mamamentors {
        padding-top: 0px;

        .mamamentors-infos-container {
            padding: 100px 1.4rem;

            &:after {
                content: none;
            }

            .mamamentors-infos {
                padding-bottom: 0;
            }
        }

        .video-mamamentors {
            height: 510px;
        }
    }

    .real-sharing {
        background: transparent url('../images/background-real-sharing-desktop@1x.jpg') no-repeat;
        background-size: cover;
        background-position: center bottom;
        overflow: hidden;
        padding-bottom: 120px;
        position: relative;
        top: -60px;
        @include transform(skewY(5deg));

        &:before {
            content: none;
        }

        .subtitle {
            @include font-size(16);
            @include line-height(16);
        }
    }

    .rotate-back {
        @include transform(skewY(-5deg));
    }

    .how-it-works {
        .section-title {
            @include font-size(60);
            text-align: center;
        }

        .subtitle {
            @include font-size(16);
        }
    }

    .support {
        padding: 120px 0;

        .list-testmonial {
            display: flex;
            justify-content: space-around;
            left: auto;
            margin: 0 auto;
            max-width: 1024px;
            padding: 0 3%;
        }

        .testmonial-item {
            display: inline-block;
            left: auto;
            min-width: auto;
            margin-right: 3%;
            position: relative;
            @include transform(scale(1));
            width: 100%;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .why-join {

        .section-title {
            @include font-size(60);
            text-align: center;
        }

        .list-reason-item {
            padding-left: 66px;
            position: relative; 

            &:before {
                background-image: url('../images/icon-private-message.png');
                background-size: 100% 100%;
                content: '';
                display: inline-block;
                height: 40px;
                left: 0;
                position: absolute;
                width: 54px;
            }
        }
    }

    .quote {
        padding: 180px 0;
    }

    .subscribe {
        .subtitle {
            @include font-size(16);
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 40em),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 40em),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 40em),
only screen and (        min-device-pixel-ratio: 2) and (min-width: 40em),
only screen and (                min-resolution: 192dpi) and (min-width: 40em),
only screen and (                min-resolution: 2dppx) and (min-width: 40em) {

    .highlight {
        background-image: url('../images/background-kid-desktop@2x.jpg');
    }

    .real-sharing {
        background-image: url('../images/pregnant-mom-using-mama-mentors-app@2x.jpg');
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 40em),
only screen and (   min--moz-device-pixel-ratio: 3) and (min-width: 40em),
only screen and (     -o-min-device-pixel-ratio: 3/1) and (min-width: 40em),
only screen and (        min-device-pixel-ratio: 3) and (min-width: 40em),
only screen and (                min-resolution: 192dpi) and (min-width: 40em),
only screen and (                min-resolution: 3dppx) and (min-width: 40em) {

    .highlight {
        background-image: url('../images/background-kid-desktop@3x.jpg');
    }

    .real-sharing {
        background-image: url('../images/pregnant-mom-using-mama-mentors-app@3x.jpg');
    }
}

/**
 * Large
 */
 
@media screen and (min-width: 64em) {

    .support {
        padding-bottom: 140px
    }
}