.terms {
    padding: 150px 0;
    
    .paragraph {
        margin-bottom: 20px;
    }

    .item p {
        margin-bottom: 16px;
    }

    .item > p:first-child {
        @include font-1-bold();
    }
}