.footer {
    background-color: $color-4;
    color: white;
    @include font-size (13);
    padding: 120px 0 60px;

    .brand {
        display: block;
        max-width: 96px;
        
        svg {
            fill: white;
        }
    }

    .mail {
        display: block;
        @include font-size (16);
    }

    .social-media {
        padding: 0;
    }

    .social-item {
        display: inline-block;
        list-style: none;
    }

    .social-link {
        color: white;
        text-decoration: none;
    }

    .nav-menu {
        border-top: 0.5px solid $color-5;
        display: flex;
        justify-content: center;
    }

    .nav-menu-item {
        border-left: 1px solid white;
        display: inline-block;
        height: 13px;
        list-style: none;
        margin-top: 16px;
        padding: 0px 0.6em 0;

        &:first-child {
            border-left: none;
        }
    }

    .reserved-info {
        @include font-size(12);
    }

    .nav-menu-link {
        color: white;
        display: block;
        line-height: 13px;
        text-decoration: none;
    }

    .nav-menu-link:hover {
        color: $color-1;
    }
}

/**
 * Medium
 */

@media screen and (min-width: 40em) {

    .footer {
        @include font-size(16);

        .mail {
            @include font-size(20);
        }

        .reserved-info {
            @include font-size(16);
        }
    }
}

/**
 * Large
 */
 
@media screen and (min-width: 64em) {

}