.header {
    padding: 13px 0.9375rem 0;
    position: absolute;
    width: 100%;

    &:before {
        background: rgba($color: $color-1, $alpha: 1);
        top: 0px;
        content: '';
        display: block;
        height: 90px;
        left: 0;
        position: absolute;
        right: 0;
        transform: skewY($angle);
        transform-origin: 100%;
        z-index: -1;

        @include box-shadow();
    }

    .brand {
        display: block;
        padding-top: 4px;
    }

    .button-underline {
        margin-right: 20px;
    }

    .nav-buttons {
        @include flex(center, space-between);
    }

    .menu-buttons {
        margin: 0;
        line-height: 10px;
    }

    .menu-button {
        display: inline-block;
        list-style: none;
        margin-right: 20px;

        &::last-child {
            margin-right: 0;
        }
    }

    .menu-link {
        color: $color-4;
        display: block;
        @include font-2-bold();
        @include font-size(10);
        text-transform: uppercase;
    }
}

/**
 * Medium
 */

@media screen and (min-width: 40em) {

    .header {
        .button-underline {
            margin-right: 0;
        }
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 40em),
only screen and (   min--moz-device-pixel-ratio: 2) and (min-width: 40em),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (min-width: 40em),
only screen and (        min-device-pixel-ratio: 2) and (min-width: 40em),
only screen and (                min-resolution: 192dpi) and (min-width: 40em),
only screen and (                min-resolution: 2dppx) and (min-width: 40em) {

    
}

@media
only screen and (-webkit-min-device-pixel-ratio: 3) and (min-width: 40em),
only screen and (   min--moz-device-pixel-ratio: 3) and (min-width: 40em),
only screen and (     -o-min-device-pixel-ratio: 3/1) and (min-width: 40em),
only screen and (        min-device-pixel-ratio: 3) and (min-width: 40em),
only screen and (                min-resolution: 192dpi) and (min-width: 40em),
only screen and (                min-resolution: 3dppx) and (min-width: 40em) {

    
}

/**
 * Large
 */
 
@media screen and (min-width: 64em) {

    
}