.menu-mobile {
    background-color: white;
    padding: 70px 0 0 25px;
    position: absolute;
    right: -265px;
    width: 265px;
    z-index: 100;

    @include transition(all, 0.6s, $easeInOutExpo);

    .nav-menu {
        margin: 0 0 0 13px;
        margin-bottom: 30px;
        padding: 0 0 1px 0;
        position: relative;

        &:after {
            background-color: $color-3;
            bottom: 0;
            content: '';
            height: 1px;
            position: absolute;
            right: 0;
            width: 100%;
        }
    }

    .nav-links {
        margin: 0 0 0 13px;
    }

    .nav-item {
        list-style: none;
        margin-bottom: 26px;
    }

    .nav-button {
        color: $color-4;
        display: block;
        @include font-2-regular();
        @include font-size(22);
    }

    .nav-button-sm {
        @include font-size(18);
    }

    .nav-button:hover, .nav-button.active {
        color: $color-3;
        @include font-2-bold();
    }

    .button-solid {
        width: 216px;
    }
}